<div>
  <h6>
    Map to show the countries affected by Coronavirus
  </h6>
</div>
<div class="map-wrapper">
    <div id="map"></div>
</div>
<div class="legend" >
  <i style="color: #800026" >more then 2000000</i>
  <br>
  <i style="color: #BD0026" > more then 500000</i>
  <br>
  <i style="color: #E31A1C" > more then 200000</i>
  <br>
  <i style="color: #FC4E2A" >more then 100000</i>
  <br>
  <i style="color: #FD8D3C" > more then 50000 </i>
  <br>
  <i style="color: #FEB24C" >more then 2000</i>
  <br>
  <i style="color: #FED976" >more then 100</i>



</div>
